In [5]:
import mysql.connector as connector


# Replace these values with your database connection details
db_user = "root"
db_password = ""
db_name="LittleLemonDM"

# Create a connection to the database
connection = connector.connect(user=db_user, password=db_password, database=db_name)

try:
    # Create a cursor
    cursor = connection.cursor()

    # Define the SQL query to show tables
    show_tables_query = "SHOW TABLES;"

    # Execute the query
    cursor.execute(show_tables_query)

    # Fetch all the results
    tables = cursor.fetchall()

    # Print the table names
    for table in tables:
        print(table[0])

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

Bookings
Customers
MenuItems
Menus
OrderDeliveryStatus
Orders
ordersview
Staff

In [16]:
import mysql.connector as connector


# Replace these values with your database connection details
db_user = "root"
db_password = ""
db_name="LittleLemonDM"

# Create a connection to the database
connection = connector.connect(user=db_user, password=db_password, database=db_name)

try:
    cursor = connection.cursor()
    
    query1="""SELECT Customers.FullName, Customers.ContactNumber
    FROM Customers
    JOIN Orders ON Customers.CustomerID = Orders.CustomerID
    WHERE Orders.TotalCost > 45;"""

    cursor.execute(query1)

    # Fetch all the rows
    result = cursor.fetchall()


    # Display the result
    for row in result:
        print(row)

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

('Jane Smith', '987-654-3210')

In [24]:
import mysql.connector as connector


# Replace these values with your database connection details
db_user = "root"
db_password = ""
db_name="LittleLemonDM"

# Create a connection to the database
connection = connector.connect(user=db_user, password=db_password, database=db_name)

try:
    
    # Create a cursor object to execute queries
    cursor = connection.cursor()

    # Step One: Identify which tables are required
    # Step Two: Specify the tables and the JOIN condition
    # Step Three: Add a WHERE clause to filter the data
    query = """
        SELECT Customers.FullName, Customers.ContactNumber, Orders.TotalCost
        FROM Customers
        INNER JOIN Orders ON Customers.CustomerID = Orders.CustomerID
        WHERE Orders.TotalCost > 45;
    """

    # Execute the query
    cursor.execute(query)

    # Fetch all the rows
    result = cursor.fetchall()

    # Display the result
    for row in result:
        print(f"FullName: {row[0]}, Contact Number: {row[1]}, Total Cost: {row[2]}")

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

FullName: Jane Smith, Contact Number: 987-654-3210, Total Cost: 45.99